* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.brand img {
    width: 15%;
    height: 50%;
}

.english {
    font-family:Arial;
}

.hindi {
    font-family:Arial Black;
}

.title {
    font-size: 1.2rem;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.container {
    width: 820px !important;
    margin: auto !important;
}